{% extends "base.html" %}

{% block content %}
<style>
  .container{
    margin-left: 40px;
  }
  h1 {
    text-align: center;
    color: #f21d80; 
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.submit{
  padding: 10px 12px;
  background-color: #f21d80;
  color: white;
  border: none;
  border-radius: 7px;
}
.cancel{
  margin-top: 2px;
  padding: 10px 12px;
  background-color: #1DA1F2;
  color: black;
  border: none;
  border-radius: 7px;
  text-decoration: none;
  font-size: 13.33px;
    font-family: Arial;
}
.footer {
  text-align: center;
  margin-top: 20px;
}
.signature{
  color: rgb(0, 0, 0);
  font-size: larger;
}
hr{
  margin: 20px 40px;
  
}
</style>
<h1 class="mt-4">Update Contact</h1>
<div class="container">
  <form method="post" class="mt-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="submit">Submit</button>

    <a class="cancel" href="{% url 'task_list' %}">Cancel</a>
    
  </form>
</div>
<hr>

{% endblock content %}