<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- This link includes bootstrap css CDN to all pages. -->
  <link href="https://cdn.jsdelivr.net/npm/[email protected]/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
    crossorigin="anonymous">

  <!-- This link includes bootstrap icons CDN to all pages. -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/[email protected]/font/bootstrap-icons.css">
  <title>yesha_doshi</title>
</head>

<body>
  <div class="content">
    {% block content %}{% endblock content %}
  </div>
  <div class="footer">
    <p class="signature">&copy;2023 FN LN</p>
  </div>
</body>

</html>